<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Войдите профиль на учебной платформе</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body style="background: #94dee1">
<div th:insert="blocks/nav :: nav"></div>
<section class="text-center  testimonials">
    <div class="container">
        <div th:if="${param.error}" class="alert alert-warning" role="alert">
            <strong>Некорректный ввод логина или пароля!</strong>
        </div>
        <h2 class="mb-5">Войдите профиль на учебной платформе</h2>
        <form action="/login" method="post">
            <div class="d-xl-flex justify-content-xl-center" style="margin-bottom: 10px;">
                <div class="row d-xl-flex" style="max-width: 500px;">
                    <div class="col"><input class="form-control" type="text" name="username" placeholder="Логин"></div>
                </div>
            </div>
            <div class="d-xl-flex justify-content-xl-center" style="margin-bottom: 10px;">
                <div class="row d-xl-flex" style="max-width: 500px;">
                    <div class="col"><input class="form-control" type="password" name="password" placeholder="Пароль"></div>
                </div>
            </div>
            <div class="d-xl-flex justify-content-xl-center" style="margin-bottom: 10px;">
                <div class="row d-xl-flex" style="max-width: 500px;">
                    <div class="col">
                        <button class="btn btn-success" type="submit">Войти</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bs-init.js"></script>
</body>

</html>