<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Статистика</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body style="background: #94dee1">
<div th:insert="blocks/nav :: nav"></div>
<section class="text-center testimonials">
    <div class="container">
        <h2 class="mb-5">Статистика</h2>
        <div class="row">
            <div class="col"><p class="lead">Ученик</p></div>
            <div class="col"><p class="lead">Количество курсов проходит</p></div>
            <div class="col"><p class="lead">Количество модулей пройдено</p></div>
        </div>
        <div class="row">
            <div th:each="i : ${users}" th:if="${i.role.name() == 'CLIENT'}" class="col-12 mb-3">
                <div class="row">
                    <div class="col">
                        <p th:text="${i.username}"></p>
                    </div>
                    <div class="col">
                        <p th:text="${i.purchased.size()}"></p>
                    </div>
                    <div class="col">
                        <p th:text="${i.modulesCount()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bs-init.js"></script>
</body>

</html>