<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>АКЦИЯ</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body style="background: #94dee1">
<div th:insert="blocks/nav :: nav"></div>
<section class="text-center testimonials">
    <div class="container">
        <h2 class="mb-5">АКЦИЯ</h2>
        <div align="center"><img src="/img/skidka.webp"></div>
    </div>
</section>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bs-init.js"></script>
</body>

</html>